<div class="panels">
	<form class="panel-w-3 panel" method="POST">
		<div class="title center panel-row">Sign in</div>
		<%- typeof form !== 'undefined' && form._error.length > 0 ? '<div class="error content center panel-row">' + form._error + '</div>' : '' %>
		<div class="left panel-row"><label for="email">Email</label></div>
		<div class="panel-row"><input class="input" name="email" type="email" placeholder="Email" value="<%= typeof form !== 'undefined' && typeof form.email !== 'undefined' && typeof form.email.data !== 'undefined' ? form.email.data : '' %>" maxlength="128" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required autofocus></div>
		<%- typeof form !== 'undefined' && typeof form.email !== 'undefined' && form.email.error.length > 0 ? '<div class="error content left panel-row">' + form.email.error + '</div>' : '' %>
		<div class="left panel-row"><label for="password">Password</label></div>
		<div class="panel-row"><input class="input" name="password" type="password" placeholder="Password" minlength="8" maxlength="128" pattern="^(?=.*[0-9])(?=.*[.!@#$%^&'*+/=?^_`{|}~-])[a-zA-Z0-9.!@#$%^&'*+/=?^_`{|}~-]*$" required></div>
		<%- typeof form !== 'undefined' && typeof form.password !== 'undefined' && form.password.error.length > 0 ? '<div class="error content left panel-row">' + form.password.error + '</div>' : '' %>
		<div class="center panel-row"><input class="button" type="submit" value="Sign in"></div>
		<div><hr></div>
		<div class="left panel-row"><label><%= typeof account !== 'undefined' ? 'Create another account?' : 'Do not have an account?' %></label></div>
		<div class="left panel-row"><a href="/sign-up">Sign up</a></div>
	</form>
</div>