<header>
	<a class="header-logo" href="/"></a>
	<div class="search-panel"></div>
	<form action="search" class="search-bar">
		<a class="search-logo" href="/"><%= title %></a>
		<input class="search-bar-input" name="q" type="search" placeholder="Search BTC address" value="<%= typeof search !== 'undefined' && typeof search.q !== 'undefined' ? search.q : '' %>" required <%= (typeof search !== 'undefined' && typeof search.q !== 'undefined') || (typeof page !== 'undefined' && typeof page.class !== 'undefined' && page.class == 'sign-form') ? '' : 'autofocus' %>>
		<!--<input class="search-bar-submit" type="submit" value="ðŸ”">-->
	</form>
	<div class="header-right">
		<button class="nav-button">menu</button>
		<nav>
			<a href="/data">Data</a>
			<a href="/api">API</a>
			<a href="/faq">FAQ</a>
			<a class="header-sign-in button" href="/<%= typeof account !== 'undefined' ? 'account' : 'sign-in' %>"><%= typeof account !== 'undefined' ? 'Account' : 'Sign in' %></a>
		</nav>
	</div>
</header>