<% const generateLink = (page) => { return '?' + ((currencyCode != null ? '&currency=' + currencyCode : '') + (source != '' ? '&source=' + source : '') + '&page=' + page).slice(1); }; %>
<% let leftButtonCount = pageId >= 3 ? 2 : pageId - 1; %>
<% let rightButtonCount = pageId <= pageCount - 2 ? 2 : pageCount - pageId; %>
<% if(pageCount >= 3) { %>
	<% if(leftButtonCount > rightButtonCount) { leftButtonCount += leftButtonCount - rightButtonCount; } %>
	<% if(rightButtonCount > leftButtonCount) { rightButtonCount += rightButtonCount - leftButtonCount; } %>
<% } %>

<div class="panels">
	<div class="panel-w-8 panel">
		<div class="title center panel-row">Addresses</div>
		<form class="flex-content content panel-row">
			<div><div class="inline-content">Currency</div><div class="inline-content"><select name="currency">
				<option value=""<%- currencyCode == null ? ' selected' : '' %>>All</option>
				<% for(const currency of currencies.sort((a, b) => (a.currency_code > b.currency_code) ? 1 : ((b.currency_code > a.currency_code) ? -1 : 0))) { %>
					<%- '<option value="' + currency.currency_code + '"' + (currencyCode == currency.currency_code ? ' selected' : '') + '>' + currency.currency_name + (currency.currency_code[0] != '_' ? ' (' + currency.currency_code + ')' : '') + '</option>' %>
				<% } %>
			</select></div></div>
			<div><div class="inline-content">Source</div><div class="inline-content"><select name="source">
				<option value=""<%- source == '' ? ' selected' : '' %>>All</option>
				<% for(let i = 0; i < sources.length; i++) { %>
					<%- '<option value="' + i + '"' + (source == i.toString() ? ' selected' : '') + '>' + sources[i].name + '</option>' %>
				<% } %>
			</select></div></div>
			<div><input type="submit" value="Filter"></div>
		</form>
		<div><hr></div>
		<div class="center panel-row">
			<table>
				<% if(addresses.length > 0) { %>
					<tr><th align="left"><label>Address</label></th><th align="left"><label>Data</label></th></tr>
					<% for(const address of addresses) { %>
						<%- '<tr><td align="left"><label><a class="no-wrap" href="/address/' + address.address + '"><img src="' + address.currency[2] + '" title="' + address.currency[0] + (address.currency[1][0] != '_' ? ' (' + address.currency[1] + ')' : '') + '"><div>' + address.address + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(address.data_ids.length) + '</label></td></tr>' %>
					<% } %>
				<% } else { %>
					<tr><td align="center" colspan="2"><label>No address has been found.</label></td></tr>
				<% } %>
			</table>
		</div>
		<div><hr></div>
		<div class="flex-content content panel-row">
			<div><div class="inline-content"><a class="button" href="<%- generateLink(1) %>">❮</a></div></div>
			<div>
				<% for(let i = 0; i < leftButtonCount; i++) { %>
					<%- '<div class="inline-content"><a class="button" href="' + generateLink(pageId - leftButtonCount + i) + '">' + new Intl.NumberFormat().format(pageId - leftButtonCount + i) + '</a></div>' %>
				<% } %>
				<div class="inline-content"><a class="active button" href="<%- generateLink(pageId) %>"><%= new Intl.NumberFormat().format(pageId) %></a></div>
				<% for(let i = 0; i < rightButtonCount; i++) { %>
					<%- '<div class="inline-content"><a class="button" href="' + generateLink(pageId + i + 1) + '">' + new Intl.NumberFormat().format(pageId + i + 1) + '</a></div>' %>
				<% } %>
			</div>
			<div><div class="inline-content"><a class="button" href="<%- generateLink(pageCount) %>">❯</a></div></div>
		</div>
		<div><hr></div>
		<div class="panel-row">
			<div class="flex-content">
				<div class="inline-content"><div><b>Loading</b></div><div class="content"><%- new Intl.NumberFormat().format((Date.now() - startedAt) / 1000) + ' s' %></div></div>
				<div class="inline-content"><div><b>Addresses (page)</b></div><div class="content"><%- addressesCount > 0 ? new Intl.NumberFormat().format(offset + 1) + ' - ' + new Intl.NumberFormat().format(addressesCount < (offset + limit) ? addressesCount : (offset + limit)) : 0 %></div></div>
				<div class="inline-content"><div><b>Addresses (all pages)</b></div><div class="content"><%- new Intl.NumberFormat().format(addressesCount) %></div></div>
			</div>
		</div>
	</div>
</div>