<% const generateLink = (page) => { return '?&page=' + page; };
let leftButtonCount = pageId >= 3 ? 2 : pageId - 1;
let rightButtonCount = pageId <= pageCount - 2 ? 2 : pageCount - pageId;
if(pageCount >= 3) {
	if(leftButtonCount > rightButtonCount) { leftButtonCount += leftButtonCount - rightButtonCount; }
	if(rightButtonCount > leftButtonCount) { rightButtonCount += rightButtonCount - leftButtonCount; }
}

const generateExplorerLink = (currencyCode) => {
	let url = ['https://'];
	
	switch(currencyCode) {
		case 'ADA':
			url.push(...['cexplorer.io', '/address/']);
			break;
		case 'BNB':
			url.push(...['bscscan.com', '/address/']);
			break;
		case 'DASH':
			url.push(...['explorer.dash.org', '/insight/address/']);
			break;
		case 'DOGE':
			url.push(...['dogechain.info', '/address/']);
			break;
		case 'DOT':
			url.push(...['polkadot.subscan.io', '/account/']);	
			break;
		case 'GRS':
			url.push(...['blockbook.groestlcoin.org', '/address/']);
			break;
		case 'KSM':
			url.push(...['kusama.subscan.io', '/account/']);
			break;
		case 'LTC':
			url.push(...['blockexplorer.one', '/litecoin/mainnet/address/']);
			break;
		case 'XEC':
			url.push(...['explorer.e.cash', '/address/']);
			break;
		case 'XLM':
			url.push(...['stellarchain.io', '/accounts/']);
			break;
		case 'XMR':
			url.push(...['localmonero.co', '/blocks/search/']);
			break;
		case 'XRP':
			url.push(...['xrpscan.com', '/account/']);
			break;
		case 'ZEC':
			url.push(...['blockexplorer.one', '/zcash/mainnet/address/']);
			break;
		case 'BCH':
		case 'BTC':
		case 'ETH':
			url.push(...['blockchain.com', '/explorer/addresses/' + currencyCode.toLowerCase() + '/']);
			break;
		default:
			return '';
	}

	return '<a href="' + url.join('') + address.address + '" target="_blank" title="' + url[1] + '">View on ' + url[1] + '</a>';
};

const generateBlockchairLink = (currencyCode) => {
	let url = ['https://', 'blockchair.com'];
	
	switch(currencyCode) {
		case 'ADA':
			url.push('/cardano');
			break;
		case 'BCH':
			url.push('/bitcoin-cash');
			break;
		case 'BNB':
			url.push('/bnb');
			break;
		case 'BTC':
			url.push('/bitcoin');
			break;
		case 'DASH':
			url.push('/dash');
			break;
		case 'DOGE':
			url.push('/dogecoin');
			break;
		case 'DOT':
			url.push('/polkadot');
			break;
		case 'ETH':
			url.push('/ethereum');
			break;
		case 'GRS':
			url.push('/groestlcoin');
			break;
		case 'KSM':
			url.push('/kusama');
			break;
		case 'LTC':
			url.push('/litecoin');
			break;
		case 'XEC':
			url.push('/ecash');
			break;
		case 'XIN':
			url.push('/mixin');
			break;
		case 'XLM':
			url.push('/stellar');
			break;
		case 'XMR':
			url.push('/monero');
			break;
		case 'XRP':
			url.push('/ripple');
			break;
		case 'ZEC':
			url.push('/zcash');
			break;
		default:
			return '';
	}

	return '<a href="' + url.join('') + '/address/' + address.address + '" target="_blank" title="' + url[1] + '">View on ' + url[1] + '</a>';
}; %>

<div class="panels">
	<div class="panel-w-7 panel">
		<!--<div class="title center panel-row"><div class="no-wrap"><img src="<%= address.currency[2] %>" title="<%- address.currency[0] + (address.currency[1][0] != '_' ? ' (' + address.currency[1] + ')' : '') %>"><div title="<%= address.address %>"><%= address.address %></div></div></div>-->
		<div class="title center panel-row">Address</div>
		<div class="center panel-row">
			<table>
				<tr>
					<th align="left"><label>Address</label></th>
					<!--<th align="left"><label>Data count</label></th>-->
				</tr>
				<tr>
					<td align="left"><label><div class="no-wrap"><img src="<%= address.currency[2] %>" title="<%- address.currency[0] + (address.currency[1][0] != '_' ? ' (' + address.currency[1] + ')' : '') %>"><div title="<%= address.address %>"><%= address.address %></div></div></label></td>
					<!--<td align="left"><label><%- new Intl.NumberFormat().format(address.data_ids.length) %></label></td>-->
				</tr>
				<%- generateExplorerLink(address.currency[1]).length > 0 || generateBlockchairLink(address.currency[1]).length > 0 ? '<tr><th align="left"><label>Blockchain explorers</label></th></tr>' : '' %>
				<%- generateExplorerLink(address.currency[1]).length > 0 ? '<tr><td align="left"><div class="content">' + generateExplorerLink(address.currency[1]) + '</div></td></tr>' : '' %>
				<%- generateBlockchairLink(address.currency[1]).length > 0 ? '<tr><td align="left"><div class="content">' + generateBlockchairLink(address.currency[1]) + '</div></td></tr>' : '' %>
			</table>
		</div>
		<div><hr></div>
		<div class="center panel-row">
			<table>
				<% if(address.reports.rows.length > 0) { %>
					<tr><td><table>
						<% for(let i = 0; i < address.reports.rows.length; i++) {
							let colspan = 0;
							for(let j = 0; j < address.reports.cols.length; j++) {
								for(let k = 0; k < Object.values(address.reports.cols[j]).length; k++) {
									if(Object.values(address.reports.cols[j])[k].count > 0) {
										if(j == 0) { colspan++; }
										else { break; }
									}
								} %>
								<tr>
									<% for(let k = 0; k < Object.keys(address.reports.cols[j]).length; k++) { %>
										<% if(typeof address.reports.rows[i][Object.keys(address.reports.cols[j])[k]] !== 'undefined') { %>
											<% let subspan = 1;
											for(let l = k + 1; l < Object.keys(address.reports.cols[j]).length; l++) {
												if(typeof address.reports.rows[i][Object.keys(address.reports.cols[j])[l]] !== 'undefined') {
													break;
												}
												else if(Object.values(address.reports.cols[j])[l].count > 0) {
													subspan++;
												}
											}
											for(let l = k - 1; l >= 0; l--) {
												if(typeof address.reports.rows[i][Object.keys(address.reports.cols[j])[l]] !== 'undefined') {
													break;
												}
												else if(Object.values(address.reports.cols[j])[l].count > 0) {
													subspan++;
												}
											} %>
											<%- '<th align="left"' + (j > 0 ? ' colspan="' + colspan + '"' : ' colspan="' + subspan + '"') + '><label>' + address.reports.cols[j][Object.keys(address.reports.cols[j])[k]].name + '</label></th>' %>
										<% } %>
									<% } %>
								</tr>
								<tr>
									<% for(let k = 0; k < Object.keys(address.reports.cols[j]).length; k++) { %>
										<% if(typeof address.reports.rows[i][Object.keys(address.reports.cols[j])[k]] !== 'undefined') { %>
											<% let subspan = 1;
											for(let l = k + 1; l < Object.keys(address.reports.cols[j]).length; l++) {
												if(typeof address.reports.rows[i][Object.keys(address.reports.cols[j])[l]] !== 'undefined') {
													break;
												}
												else if(Object.values(address.reports.cols[j])[l].count > 0) {
													subspan++;
												}
											}
											for(let l = k - 1; l >= 0; l--) {
												if(typeof address.reports.rows[i][Object.keys(address.reports.cols[j])[l]] !== 'undefined') {
													break;
												}
												else if(Object.values(address.reports.cols[j])[l].count > 0) {
													subspan++;
												}
											} %>
											<% if(Object.keys(address.reports.cols[j])[k] == 'date') { %>
												<%- '<td align="left" valign="top"' + (j > 0 ? ' colspan="' + colspan + '"' : ' colspan="' + subspan + '"') + '><div class="content">' + address.reports.rows[i][Object.keys(address.reports.cols[j])[k]].toLocaleString() + '</div></td>' %>
											<% } else if(Object.keys(address.reports.cols[j])[k] == 'url') { %>
												<%- '<td align="left" valign="top"' + (j > 0 ? ' colspan="' + colspan + '"' : ' colspan="' + subspan + '"') + '><div class="content"><a href="' + address.reports.rows[i][Object.keys(address.reports.cols[j])[k]] + '">View</a></div></td>' %>
											<% } else { %>
												<%- '<td align="left" valign="top"' + (j > 0 ? ' colspan="' + colspan + '"' : ' colspan="' + subspan + '"') + '><div class="content">' + address.reports.rows[i][Object.keys(address.reports.cols[j])[k]] + '</div></td>' %>
											<% } %>
										<% } %>
									<% } %>
								</tr>
							<% } %>
							<% if(i < address.reports.rows.length - 1) { %>
								<tr><td align="left"<%- colspan > 0 ? ' colspan="' + colspan + '"' : '' %>><hr></td></tr>
							<% } %>
						<% } %>
					</table></td></tr>
				<% } else { %>
					<tr><td align="center"><label>No report has been found.</label></td></tr>
				<% } %>
			</table>
		</div>
		<div><hr></div>
		<div class="flex-content content panel-row">
			<div><div class="inline-content"><a class="button" href="<%- generateLink(1) %>">❮</a></div></div>
			<div>
				<% for(let i = 0; i < leftButtonCount; i++) { %>
					<%- '<div class="inline-content"><a class="button" href="' + generateLink(pageId - leftButtonCount + i) + '">' + new Intl.NumberFormat().format(pageId - leftButtonCount + i) + '</a></div>' %>
				<% } %>
				<div class="inline-content"><a class="active button" href="<%- generateLink(pageId) %>"><%= new Intl.NumberFormat().format(pageId) %></a></div>
				<% for(let i = 0; i < rightButtonCount; i++) { %>
					<%- '<div class="inline-content"><a class="button" href="' + generateLink(pageId + i + 1) + '">' + new Intl.NumberFormat().format(pageId + i + 1) + '</a></div>' %>
				<% } %>
			</div>
			<div><div class="inline-content"><a class="button" href="<%- generateLink(pageCount) %>">❯</a></div></div>
		</div>
		<div><hr></div>
		<div class="panel-row">
			<div class="flex-content">
				<div class="inline-content"><div><b>Loading</b></div><div class="content"><%- new Intl.NumberFormat().format((Date.now() - startedAt) / 1000) + ' s' %></div></div>
				<div class="inline-content"><div><b>Reports (page)</b></div><div class="content"><%- address.data_ids.length > 0 ? new Intl.NumberFormat().format(offset + 1) + ' - ' + new Intl.NumberFormat().format(address.data_ids.length < (offset + limit) ? address.data_ids.length : (offset + limit)) : 0 %></div></div>
				<div class="inline-content"><div><b>Reports (all pages)</b></div><div class="content"><%- new Intl.NumberFormat().format(address.data_ids.length) %></div></div>
			</div>
		</div>
	</div>
</div>