<div class="panels">
	<div class="panel-w-6 panel">
		<div class="title center panel-row">Data</div>
		<div class="center panel-row">
			<table>
				<% if(data.length > 0 && data[0].addressesCount > 0) { %>
					<tr><th align="left"><label>Data / Currency</label></th><th align="left"><label>Addresses</label></th></tr>
					<% for(let i = 0; i < data.length; i++) { %>
						<% if(data[i].addressesCount > 0) { %>
							<% if(data[i].sourceId != null && data[i].sourceLabelId == null && i + 1 < data.length && data[i].sourceId == data[i + 1].sourceId) { %>
								<% for(let j = i + 1; j < data.length; j++) { %>
									<% if(data[i].sourceId != data[j].sourceId) { %>
										<% break; %>
									<% } %>
									
									<% if(data[i].addressesCount != data[j].addressesCount && data[j].addressesCount > 0) { %>
										<%- '<tr><td align="left"><label><a class="no-wrap" href="' + data[i].link + '"><div>' + data[i].name + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(data[i].addressesCount) + '</label></td></tr>' %>
										<% for(const currencyItem of data[i].currencies) { %>
											<% if(currencyItem.addressesCount > 0) { %>
												<%- '<tr><td align="left"><label><a class="no-wrap" href="' + currencyItem.link + '"><img src="' + currencyItem.logo + '" title="' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '"><div>' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(currencyItem.addressesCount) + '</label></td></tr>' %>
											<% } %>
										<% } %>
									<% } %>
								<% } %>
							<% } else { %>
								<%- '<tr><td align="left"><label><a class="no-wrap" href="' + data[i].link + '"><div>' + data[i].name + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(data[i].addressesCount) + '</label></td></tr>' %>
								<% for(const currencyItem of data[i].currencies) { %>
									<% if(currencyItem.addressesCount > 0) { %>
										<%- '<tr><td align="left"><label><a class="no-wrap" href="' + currencyItem.link + '"><img src="' + currencyItem.logo + '" title="' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '"><div>' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(currencyItem.addressesCount) + '</label></td></tr>' %>
									<% } %>
								<% } %>
							<% } %>
						<% } %>
					<% } %>
				<% } else { %>
					<tr><td align="center" colspan="2"><label>No data has been found.</label></td></tr>
				<% } %>
			</table>
		</div>
		<div><hr></div>
		<div class="panel-row">
			<div class="flex-content">
				<div class="inline-content"><div>Loading</div><div class="content"><%- new Intl.NumberFormat().format((Date.now() - startedAt) / 1000) + ' s' %></div></div>
			</div>
		</div>
	</div>
</div>