<div class="panels">
	<div class="panel-w-6 panel">
		<div class="title center panel-row">Statistics</div>
		<div class="center panel-row">
			<table>
				<% if(sources.length > 0 && sources[0].addressesCount > 0) { %>
					<tr><th align="left"><label>Data / Currency</label></th><th align="left"><label>Addresses</label></th></tr>
					<% for(let i = 0; i < sources.length; i++) { %>
						<% if(sources[i].addressesCount > 0) { %>
							<% if(sources[i].sourceId != null && sources[i].sourceLabelId == null && i + 1 < sources.length && sources[i].sourceId == sources[i + 1].sourceId) { %>
								<% for(let j = i + 1; j < sources.length; j++) { %>
									<% if(sources[i].sourceId != sources[j].sourceId) { %>
										<% break; %>
									<% } %>
									
									<% if(sources[i].addressesCount != sources[j].addressesCount && sources[j].addressesCount > 0) { %>
										<%- '<tr><td align="left"><label><a class="no-wrap" href="' + sources[i].link + '"><div>' + sources[i].name + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(sources[i].addressesCount) + '</label></td></tr>' %>
										<% for(const currencyItem of sources[i].currencies) { %>
											<% if(currencyItem.addressesCount > 0) { %>
												<%- '<tr><td align="left"><label><a class="no-wrap" href="' + currencyItem.link + '"><img src="' + currencyItem.logo + '" title="' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '"><div>' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(currencyItem.addressesCount) + '</label></td></tr>' %>
											<% } %>
										<% } %>
									<% } %>
								<% } %>
							<% } else { %>
								<%- '<tr><td align="left"><label><a class="no-wrap" href="' + sources[i].link + '"><div>' + sources[i].name + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(sources[i].addressesCount) + '</label></td></tr>' %>
								<% for(const currencyItem of sources[i].currencies) { %>
									<% if(currencyItem.addressesCount > 0) { %>
										<%- '<tr><td align="left"><label><a class="no-wrap" href="' + currencyItem.link + '"><img src="' + currencyItem.logo + '" title="' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '"><div>' + currencyItem.currency_name + (currencyItem.currency_code[0] != '_' ? ' (' + currencyItem.currency_code + ')' : '') + '</div></a></label></td><td align="left"><label>' + new Intl.NumberFormat().format(currencyItem.addressesCount) + '</label></td></tr>' %>
									<% } %>
								<% } %>
							<% } %>
						<% } %>
					<% } %>
				<% } else { %>
					<tr><td align="center" colspan="2"><label>No source has been found.</label></td></tr>
				<% } %>
			</table>
		</div>
		<div><hr></div>
		<div class="panel-row">
			<div class="flex-content">
				<div class="inline-content"><div><b>Loading</b></div><div class="content"><%- new Intl.NumberFormat().format((Date.now() - startedAt) / 1000) + ' s' %></div></div>
			</div>
		</div>
	</div>
</div>